
<h3>Edit trip details</h3>

<%= form_for @trip do |p| %>
  <% p.label :date %>
  <% p.date_field :date %>

  <%= p.label :rating %>
  <%= p.select :rating, [1, 2, 3, 4, 5] %>

  <%= p.label :cost %>
  <%= p.text_field :cost %>

  <% p.label :driver %>
  <% p.hidden_field :driver %>

  <% p.label :passenger %>
  <% p.hidden_field :passenger %>

  <%= p.submit %>
<% end %>
