<h3>
  <%= "Riderly Drivers are here for YOU." %>
</h3>

<% if @driver.errors.any? %>
<ul class="errors">
  <% @driver.errors.each do |column, message| %>
  <li>
    <strong><%= column.capitalize %></strong> <%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<!-- <div class="new-driver">
  <%= form_for @driver do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :vin %>
    <%= f.text_field :vin %>

    <%= f.submit %>
  <% end %>
</div> -->

<%= form_for @driver do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :vin %>
<%= f.text_field :vin %>

<%= f.submit %>

<% end %>
